<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        const deleteBook = async (id) => {
            await $.ajax({
                url: `http://localhost:3000/book/delete/${id}`,
                type: "DELETE",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
            location.reload();
        };
    </script>
</head>

<body>
    <div class="container-flex-fluid">
        <%- include('../header') %>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-between col-8">
                    <h2>List Books</h2>
                    <a href="/book/add">
                        <button type="button" class="btn btn-primary">Add Book</button>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-8">
                    <table class="table">
                        <tr>
                            <td>#</td>
                            <td>Title</td>
                            <td>Author</td>
                            <td>Description</td>
                            <td>Action</td>
                        </tr>
                        <% for(let i=0; i < books.length; i++) { %>
                            <tr>
                                <td><%- i + 1 %></td>
                                <td>
                                    <a href="/book/detail/<%= books[i]._id %>" target="_self">
                                        <%= books[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= books[i].author ? books[i].author.name : "" %>
                                </td>
                                <td>
                                    <%= books[i].description %>
                                </td>
                                <td>
                                    <a href="/book/detail/<%= books[i]._id %>" target="_self">
                                        <button class="btn btn-primary">
                                            Update
                                        </button>
                                    </a>
                                    <a href="/book/delete/<%= books[i]._id %>" target="_self" onclick="return confirm('Confirm Delete ?')">
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>