<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/login/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/login/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/login/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/login/css/style.css">

  <title>Login #2</title>
</head>

<body>


  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" id="right-side-image"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3 class="mb-4 text-center">Register</h3>
            <form action="" method="post">
              <div class="form-group first">
                <input type="text" class="form-control" placeholder="Email" id="email" name="email" <%- `value="${info.email || ''}"` %>>
                <p class="text-danger"><%- error.email || ''%></p>
              </div>
              <div class="form-group last mb-3">
                <input type="text" class="form-control" placeholder="Password" id="password" name="password">
                <p class="text-danger"><%- error.password || ''%></p>
              </div>
              <div class="form-group last mb-3">
                <input type="name" class="form-control" placeholder="Name" id="name" name="name" value="<%- info.name || '' %>">
                <p class="text-danger"><%- error.name || ''%></p>
              </div>
              <div class="form-group last mb-3">
                <input type="phone" class="form-control" placeholder="Phone Number" id="phone" name="phone" value="<%- info.phone || '' %>">
                <p class="text-danger"><%- error.phone || ''%></p>
              </div>
              <div class="form-group last mb-4">
                <input type="text" class="form-control" placeholder="Address" id="address" name="address" value="<%- info.address || '' %>">
                  <p class="text-danger"><%- error.address || ''%></p>
              </div>
              <input type="submit" value="Submit" class="btn btn-block btn-primary">
              <p class="text-center mt-3 mb-0">Already have an account?</p>
              <a href="/login" id="login">
                <input type="button" value="Login" class="btn btn-block btn-warning">
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/login/js/jquery-3.3.1.min.js"></script>
  <script src="/login/js/popper.min.js"></script>
  <script src="/login/js/bootstrap.min.js"></script>
  <script src="/login/js/main.js"></script>
</body>

</html>