<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user-info/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user-info/css/style.css">    
</head>

<body>
    <div class="container-flex-fluid">
        <div class="d-flex justify-content-center pt-3">
            <h1 class="text-white">User Info</h1>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" class="col-4 pt-3 pb-4 bg-white rounded" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="<%- user.email %>" readonly>
                    <p class="text-danger"><%- error.email ? error.email : ''%></p>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%- user.name %>">
                    <p class="text-danger"><%- error.name ? error.name : ''%></p>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%- user.phone %>">
                    <p class="text-danger"><%- error.phone ? error.phone : ''%></p>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="<%- user.address %>">
                    <p class="text-danger"><%- error.address ? error.address : ''%></p>
                    <p class="text-success"><%- message %></p>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-block btn-primary">Save</button>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="<%- link %>" class="btn btn-block btn-warning mt-2">Back</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>